{% extends "base.html" %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block body %}
<section class="services" id="services">
    <div class="service-text">
        <span>What i will do for you</span>
        <h2>Our Services</h2>
    </div>

    <div class="section-services">
        <div class="service-box">
            <i class="fa-brands fa-python service-icon"></i>
            <h3>Python Developer</h3>
            <p>
                Developed and deployed web application using python and related platform components.
                Developed and deployed EC2 and Bucket web services to Amazon Web Services (AWS)
                Assemble large, complex data sets that meetfunctional / nonfunctional business requirements.Work as part of the Data Science team to performing data cleansing and
                organization in support of ML
            </p>
            <div class="service-btn">
                <a href="#" class="btn">Read More!</a>
            </div>
        </div>

        <div class="service-box">
            <i class="fa-brands fa-java service-icon"></i>
            <h3>Java Developer</h3>
            <p>
                The WebCustomer Tracker. Alldetails of customer storedin database for use in future.
                Technologies Used: - Core java, Hibernate, Spring MVC, XML and JSP.
            </p>
            <div class="service-btn">
                <a href="#" class="btn">Read More!</a>
            </div>
        </div>
        
        <div class="service-box">
            <i class="fa-brands fa-html5 service-icon"></i>
            <h3>FrontEnd Developer</h3>
            <p>
                A library Automation system is Web Application that is designed to manage all the
                functions of a library. It helps librarian to maintain the database of new books and the
                books that are borrowed by members along with their due dates. This system
                completely automates all your library's activities.
                Technologies Used: - frontend is HTML, CSS and backend JavaScript with MySQL database.

            </p>
            <div class="service-btn">
                <a href="#" class="btn">Read More!</a>
            </div>
        </div>

        <div class="service-box">
            <i class="fa-solid fa-code service-icon"></i>
            <h3>BackEnd Developer</h3>
            <p>
                Developed the Library Automation System web application using technology for frontend
                is HTML, CSS and backend JavaScript with MySQL database Developed Ecommerce Application using technology Frontend HTML, CSS and
                Backend JavaScript, Python with Django framework
            </p>
            <div class="service-btn">
                <a href="#" class="btn">Read More!</a>
            </div>
        </div>
    </div>
</section>
{% endblock body %}